# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log

# Dependency directories
.npm
.eslintcache
.node_repl_history

# Environment variables
.env
.env.local
.env.*.local

# Build artifacts
build/
dist/
.ask/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Alexa Skill deployment files
lambda/node_modules/
.deploy/
ask-resources.json
lambda/package-lock.json 